/* CalculatorApp.css */

body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.calculator {
  width: 250px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.display {
  padding: 20px 10px;
  background-color: #222;
  color: #fff;
  font-size: 24px;
  text-align: right;
}

.input, .result {
  margin: 5px 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #888;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #eee;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

button[data-operator] {
  background-color: #f7a433;
  color: #fff;
}

button[data-operator]:hover {
  background-color: #f7931e;
}

button[data-operator]:active {
  background-color: #f57c00;
}

button[data-clear] {
  grid-column: span 2;
  background-color: #d9534f;
  color: #fff;
}

button[data-clear]:hover {
  background-color: #d43f00;
}

button[data-clear]:active {
  background-color: #c9302c;
}

